@using MudBlazor
@inject IDialogService DialogService
@rendermode InteractiveAuto

<MudDialog>
    <TitleContent>
        <div class="text-center w-100">
            <MudText Typo="Typo.h5">Nom</MudText>
        </div>
    </TitleContent>
    <DialogContent>
        <MudTextField T="string" @bind-Value="_name" Label="Entrez votre nom" Variant="Variant.Outlined" Class="w-100"/>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="Submit">OK</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter]
    private IMudDialogInstance MudDialog { get; set; }

    private string _name { get; set; }

    private void Submit() => MudDialog.Close(DialogResult.Ok(true));

    private void Cancel() => MudDialog.Cancel();
}