@page "/"
@using OneTWebApp.Client.Components

<link rel="stylesheet" href="css/Portail.css">

@* <div class="gradient-background"> *@
@* *@
@* </div> *@

<MudStack Row="true"
          AlignItems="AlignItems.Center"
          Justify="Justify.SpaceBetween">
    <MudImage Src="Images/icon-s3ns.png" Alt="s3nsImage" Width="200"/>
    <MudImage Src="Images/icon-suitenumerique.png" Alt="suiteNumericImage" Width="300"/>
</MudStack>

<MudText Typo="Typo.h3" Align="Align.Center">
    <b>Welcome to S3NS x LaSuite Portal!</b>
</MudText>

<MudSpacer/>

<AppExpansion/>


@code {

}
