@page "/"
@using OneTWebApp.Models

<style>
    .gradient-background {
        background: radial-gradient(
            ellipse at top center,
            #ffb3b3 0%,
            #ffcdd2 20%,
            #ffe4f0 40%,
            #ffffff 90%
        );
        width: 100vw;
        height: 100vh;
    }
    
    .down {
        margin-top: 75px;
    }

    body, html {
        overflow: hidden;
        margin: 0;
        padding: 0;
    }
</style>

<div class="gradient-background">
    
    <MudGrid AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween">
        <MudItem xs="3" class="d-flex justify-center align-center">
            <MudImage Src="Images/icon-s3ns.png" Alt="s3nsImage" Width="100"/>
        </MudItem>

        <MudItem xs="6" class="d-flex justify-center align-center">
            <MudText Typo="Typo.h5" Align="Align.Center">Portail S3NS</MudText>
        </MudItem>

        <MudItem xs="3" class="d-flex justify-center align-center">
            <MudImage Src="Images/icon-suiteNumerique.png" Alt="suiteNumericImage" Width="150"/>
        </MudItem>

        @foreach (var app in _apps)
        {
            <MudItem xs="12" sm="6" class="d-flex justify-center down">
                <ItemCard AppModel="app"/>
            </MudItem>
        }
    </MudGrid>
    
</div>


@code {

    private AppModel[] _apps;

    protected override void OnInitialized() {
        base.OnInitialized();
        _apps = [
            new AppModel {
                AppType = AppType.Docs,
                Deployed = false,
                Version = "2.1.3"
            },
            new AppModel {
                AppType = AppType.Tchap,
                Deployed = true,
                Version = "1.0.1"
            }
        ];
    }
}
